* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

header,
footer,
.top-section {
  background-color: #1F2937;
  color: #F9FAF8;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px 200px;
}

.header-logo {
  flex: 1;
  font-size: 20px;
}

ul {
  flex: 1;
  list-style: none;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

li {
  display: inline;
  margin-left: 10px;
  font-size: 14px;
  color: #E5E7EB;
}

.top-section {
  display: flex;
  padding: 50px 200px 100px;
  justify-content: space-between;
  gap: 50px;
  flex-wrap: wrap;
}

.top-section-left {
  flex: 1;
}

button {
  background-color: #3882f6;
  color: #F9FAF8;
  padding: 5px 20px;
  font-weight: bold;
  border-radius: 5px;
}

.signup-1 {
  border: none;
  margin-top: 10px;
}

h1 {
  font-size: 42px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.top-section-right {
  flex: 1;
  display: flex;
}

.main-image {
  object-fit: contain;
  flex: 1;
  width: 100%;
  min-width: 300px;
}

.info-section {
  padding: 50px 200px;
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  color: #1F2937;
}

.info-image-text {
  display: flex;
  padding: 25px;
  gap: 30px;
  flex-flow: wrap;

}

.image-text-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.info-image {
  max-width: 200px;
  min-width: 100px;
}


.info-text {
  text-align: center;
  font-size: small;
  width: 200px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #E5E7EB;
  height: 300px;
  color: #1F2937;
  padding: 0 350px;
  gap: 10px;
}

.quote {
  font-style: italic;
  font-size: 24px;
  min-width: 200px;
}

.quote-by {
  align-self: flex-end;
  font-weight: bold;
  min-width: 100px;
  text-align: right;
}

.signup-section {
  padding: 100px 200px;
}

.signup-content {
  background-color: #3882f6;
  border-radius: 5px;
  padding: 40px 100px;
  color: #E5E7EB;
  display: flex;
  justify-content: space-between;
}

.signup-2 {
  border-color: #E5E7EB;
  border-style: solid;
}